extends layout
block content 
    h2 Account
    section(align ="center") 
        h3 uitloggen
        form(action="account/logout" method="post" id = "logoutForm")
        
            button(type="submit" id="logoutButton") uitloggen
            
    section(align ="center") 
        h3 Wijzig wachtwoord  
        form(action="/account/wijzigwachtwoord", method="post" id = "wijzigwachtwoordform") 
            p
                label(for="password") oud wachtwoord: 
                div
                    input(type="password", name="oudwachtwoord" placeholder="Voer uw oud wachtwoord in")
                    
            p 
                label(for="password") nieuw wachtwoord:
                div
                    input(type="password" name = "nieuwwachtwoord" placeholder="Voer uw nieuw wachtwoord in")
                    
                button(type="submit") verander  
    script(src="/javascripts/accountfe.js")
