#cookie-banner
    p Deze website gebruikt cookies om je ervaring te verbeteren.
    button#accept-all Alles accepteren    
    button#essential-only Alleen essentieel
    button#denie Alles weigeren
    a(href="/cookie-policy") Meer informatie
script(src="/javascripts/cookiesfe.js")
