extends layout

block content
    .cookie-policy
        h2 Cookieverklaring
        p Onze website maakt gebruik van cookies om uw ervaring te verbeteren, het gebruik van de website te analyseren en onze diensten te personaliseren. Cookies zijn kleine tekstbestanden die op uw apparaat worden geplaatst en ons helpen om uw voorkeuren en interesses te onthouden, en om informatie te verzamelen over hoe onze website wordt gebruikt.

        h3 1. Soorten cookies die wij gebruiken
        p Wij gebruiken verschillende soorten cookies, waaronder:
        ul
            li 
            strong Essentiële cookies:
            |  Deze zijn noodzakelijk voor het functioneren van de website. Zonder deze cookies kan de website mogelijk niet correct werken.
            li 
            strong Analytische cookies:
            |  Deze helpen ons om inzicht te krijgen in het gebruik van de website, zodat we de functionaliteit en inhoud kunnen verbeteren.
            li 
            strong Functionele cookies:
            |  Deze cookies onthouden uw voorkeuren en instellingen, zoals taalkeuze, om uw gebruikservaring te optimaliseren.
            li 
            strong Marketing- en trackingcookies:
            |  Deze worden gebruikt om u gerichte advertenties aan te bieden die aansluiten bij uw interesses.

        h3 2. Toestemming en instellingen
        p Bij uw eerste bezoek aan onze website vragen wij u om toestemming voor het gebruik van cookies. U kunt kiezen tussen:
        ul
            li 
            strong Alles accepteren:
            |  U stemt in met alle soorten cookies voor een optimale ervaring.
            li 
            strong Alleen essentiële cookies:
            |  Alleen de strikt noodzakelijke cookies worden geactiveerd.

        p U kunt uw voorkeuren op elk moment aanpassen via de cookie-instellingen onderaan de pagina of in uw browserinstellingen.

        h3 3. Uw privacy en gegevensbescherming
        p Wij respecteren uw privacy en gaan zorgvuldig om met de gegevens die door middel van cookies worden verzameld. Voor meer informatie over hoe wij omgaan met persoonlijke gegevens, verwijzen wij u naar onze 
        a(href="/privacy-policy") Privacyverklaring.

        h3 4. Cookies beheren of verwijderen
        p U kunt cookies beheren of verwijderen via de instellingen van uw browser. Houd er rekening mee dat sommige functies van de website mogelijk niet goed werken als u bepaalde cookies uitschakelt.

        p Voor meer informatie over ons gebruik van cookies kunt u altijd contact met ons opnemen via 
        a(href="mailto:contact@jouwwebsite.com") contact@jouwwebsite.com.
