footer
  p © 2024 Scouts Groep. Alle rechten voorbehouden.
  div
    a(href="/privacy-policy") Privacybeleid 
    | |
    a(href="/cookie-policy")  Cookiebeleid 
    | | 
    a(href="https://www.facebook.com/scoutsieper" target="_blank" rel="noopener noreferrer")
       i(class="fab fa-facebook")
