extends layout

    
block content
  .parallax(id="home")
    .hero-content
      .transparent-box
        h1.transparent-text Scouting Ieper

  .section#about
    h2 Over Ons
    p Wij organiseren avontuurlijke activiteiten voor jongeren.
    h3 Hier kan je ons vinden.
    div#map 
       script.
          var map = L.map('map').setView([50.848321, 2.884721], 13);
          var marker = L.marker([50.848321, 2.884721]).addTo(map);
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.070396562593!2d2.8820092761499034!3d50.848380658633026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dcce542618916d%3A0xff4929536d02c3!2sScouts%20Ieper!5e0!3m2!1snl!2sbe!4v1731936588512!5m2!1snl!2sbe"
     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
  .parallax-next
    .hero-content
      h1 Activiteiten

  .section#contact
    
    
    h2 Contacteer Ons
    p Heb je vragen? Neem contact met ons op!
      form(action="/contact" method="post")
        label(for="name") Naam
        input(type="text" id="name" name="name" required)
        label(for="email") E-mail
        input(type="email" id="email" name="email" required)
        label(for="message") Bericht
        textarea(id="message" name="message" rows="5" required)
        button(type="submit") Verstuur
