extends layout

block content
  h1= title
  p Welcome to #{title}
  p Dit moet later nog verwerkt worden dat enkel de users die ingelogd zijn dit kunnen doen
  p 
    a(href="/voegUserToe") Voeg nieuw Account toe
