extends layout

block content
    h1 Sign up
    form(action="/inschrijven/verzendSignUpForm", method="post" id = "signupForm" enctype="application/x-www-form-urlencoded") 
        p 
            label(for="naam") Naam: 
            input(type="text", name="naam" required) 
        p 
            label(for="email") Email: 
            input(type="email", name="email" required) 
        p 
            label(for="woonplaats") Woonplaats:
            input(type="text", name="woonplaats" required)
        p
            button(type="submit") verzend
        if message
            p #{message} 
        script (src="/public/javascripts/inschrijvenfe.js")