doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section
      block navbar
        include navbar
    section
      block content
    section
      block cookie
        include cookie
    section 
      block footer
        include footer