header
  .navbar
    .logo
      a(href="/")
        h1 Sint-Martinus scouts 
    button.menu-btn(type="button", aria-label="Menu")
      
      i.fa.fa-bars
    ul.nav-links
      li
        a(href="/takken") Takken
        ul.dropdown
          li: a(href="/tak/kapoenen") Kapoenen
          li: a(href="/tak/welpen") Welpen
          li: a(href="/tak/roeland") Roeland
          li: a(href="/tak/parcival") Parcival
          li: a(href="/tak/givers") Givers
          li: a(href="/tak/jin") Jin
          li: a(href="/tak/leiding") Leiding
      li: a(href="/activiteiten") Activiteiten
      if role === 'leiding'
        li: a(href="/voegUserToe") Voeg User Toe
      li: a(href="/#contact") Contact
      li: a(href="/#about") Over Ons
      li: a(href="/inschrijven") Nieuwe Leden
      if role === 'leiding'
        li: a(href="/Account") Account
      else 
        li: a(href="/inloggen") Inloggen
