extends layout

block content
  
    section    
      h2 Inleiding
      p Dit privacybeleid legt uit hoe wij omgaan met de persoonlijke gegevens van bezoekers van onze scoutswebsite. We respecteren je privacy en doen ons best om je gegevens veilig te houden.

    section
      h2 Gegevensverzameling
      p Wij verzamelen verschillende soorten informatie:
      ul
        li Persoonlijke gegevens die je verstrekt, bijvoorbeeld wanneer je je aanmeldt voor een evenement of contact met ons opneemt.
        li Gegevens die automatisch worden verzameld, zoals IP-adressen, browsertype en website-instellingen via cookies.

    section
      h2 Doeleinden van Gegevensverwerking
      p Wij verwerken je gegevens voor de volgende doeleinden:
      ul
        li Het organiseren van activiteiten en evenementen voor de scouts.
        li Communicatie over scoutsactiviteiten en belangrijke updates.
        li Het verbeteren van de gebruikerservaring op onze website.

    section
      h2 Delen van Gegevens
      p Wij delen je persoonlijke gegevens niet met derden, behalve wanneer dit nodig is om onze diensten te leveren of wanneer dit wettelijk verplicht is.

    section
      h2 Je Rechten
      p Je hebt het recht om toegang te krijgen tot je gegevens, correcties aan te brengen of je gegevens te laten verwijderen. Je kunt ook je toestemming voor gegevensverwerking intrekken.

    section
      h2 Cookies
      p Onze website maakt gebruik van cookies om je ervaring te verbeteren. Je kunt ervoor kiezen om cookies in je browser uit te schakelen, maar dit kan invloed hebben op de functionaliteit van de site.

    section
      h2 Beveiliging van Gegevens
      p We nemen passende technische en organisatorische maatregelen om je gegevens te beschermen tegen verlies, misbruik en ongeautoriseerde toegang.

    section
      h2 Wijzigingen in het Privacybeleid
      p Dit privacybeleid kan van tijd tot tijd worden bijgewerkt. Alle wijzigingen zullen op deze pagina worden gepubliceerd.

