extends layout

block content
    h1 Voeg nieuw Leiders Account toe
    form(action="/voegUserToe/voegToe", method="post" id = "voegNieuwAccountToe" enctype="application/x-www-form-urlencoded") 
        p 
            label(for="naam") Naam: 
            input(type="text", name="naam" required placeholder="Voer de achternaam in") 
        p 
            label(for="naam") Voornaam: 
            input(type="text", name="voornaam" required placeholder="Voer de voornaam in")  
        p 
            label(for="email") Email: 
            input(type="email", name="email" required placeholder="Voer de email in") 
        p 
            label(for="wachtwoord") Wachtwoord: 
            input(type="text", name="wachtwoord" required placeholder="voer het wachtwoord in") 
        p 
            label(for="tak") Rol: 
            select(name="tak")
                option(value="Kapoenen") Kapoenen 
                option(value="welpen") Welpen
                option(value="Roeland") Roeland
                option(value="Parcival") Parcival 
                option(value="Giivers") Givers
                option(value="Jins") Jins
                option(value="gebruiker") Gebruiker
        p
            button(type="submit") sla op
        if message 
            p #{message}
        script (src="/javascripts/voegUserToefe.js")
    script .
       