extends layout

block content
    h1 Voeg nieuw Leiders Account toe
    form(action="/voegUserToe/voegToe", method="post", id="voegNieuwAccountToe", enctype="multipart/form-data")
        p
            label(for="naam") Naam:
            input(type="text", name="naam", required, placeholder="Voer de achternaam in")
        p
            label(for="voornaam") Voornaam:
            input(type="text", name="voornaam", required, placeholder="Voer de voornaam in")
        p
            label(for="email") Email:
            input(type="email", name="email", required, placeholder="Voer de email in")
        p
            label(for="password") Wachtwoord:
            div.input-container
                input#password(type="password" name="password" placeholder="Voer uw wachtwoord in")
                i.fas.fa-eye(onmouseover="togglePassword(true)" onmouseout="togglePassword(false)") 
        p
            label(for="tak") Rol:
            select(name="tak")
                option(value="Kapoenen") Kapoenen
                option(value="welpen") Welpen
                option(value="Roeland") Roeland
                option(value="Parcival") Parcival
                option(value="Giivers") Givers
                option(value="Jin") Jin
                option(value="gebruiker") Gebruiker
        p
            label(for="foto") Foto:
            input(type="file", name="foto", accept="image/*") 
        p
            button(type="submit") Sla op
        if message
            p #{message}
        script(src="/javascripts/voegUserToefe.js")
